
.RequestItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: #F1FEC6;
  border: .3vmin solid var(--text-light);
  border-radius: 1vmin;
  font-size: 4vmin;
}

.RequestItem:hover {
  border: .3vmin solid #29339B;
  color: red;
}




