.RequestDetail {
   width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 91%;
  background-color: #a5c2bc;
  align-items: center;
  margin-top: 1vmin;
  padding: 2vmin;
  color: var(--text-light);
  border-radius: 1vmin;
  font-size: 4vmin;
  color:white;
}


